{% extends layout_path %}

{% load static %}
{% load i18n %}

{% load jformat %}

{% block title %}افزودن پروژه{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'libs/jdate/jdate.min.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'libs/flatpickr/flatpickr-jdate.js' %}"></script>
  <script src="{% static 'libs/flatpickr-jalali/dist/l10n/fa.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>

  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>


{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/cards-advance.css' %}" />
  <style>
    #alert_mo {
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 5000;
    }

    .none_alert_mo {
      display: none !important;
    }

    .success_alert_mo {
      color: #00b300 !important;
      background: #cfeee6 !important;
      border: 2px solid #00b300 !important;
    }

    .err_alert_mo {
      color: #b30000 !important;
      background: #eecfcf !important;
      border: 2px solid #b30000 !important;
    }

  </style>
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/tables-datatables-basic.js' %}"></script>
  <script src="{% static 'js/form-layouts.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const deleteButtons = document.querySelectorAll('.item-delete');
      const serverNameEl = document.getElementById('serverNameInModal');
      const serverIdInput = document.getElementById('deleteProjectId');

      deleteButtons.forEach(button => {
        button.addEventListener('click', function() {
          const name = this.getAttribute('data-server-name');
          const id = this.getAttribute('data-server-id');
          serverNameEl.textContent = name;
          serverIdInput.value = id;
        });
      });
    });
  </script>
{% endblock page_js %}

{% block content %}
  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">  پروژه ها /</span> افزودن پروژه
  </h4>
  <!-- DataTable direct html : by byteMaster at 2024-02-01 -->
  <div class="card mb-4">
    <h5 class="card-header">اضافه کردن پروژه</h5>
    <form class="card-body" method="post">
      {% csrf_token %}

      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label class="form-label" for="multicol-username">عنوان پروژه:</label>
          <input name="project_title" class="form-control" id="multicol-username" placeholder="پروژه یک" type="text" />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="select1Success">تیم</label>
          <div class="select2-success">
            <select class="select2 form-select" id="select1Success" name="teams_project" multiple>
              {% for team in teams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <label class="form-label" for="select2Success">اعضای پروژه</label>
          <div class="select2-success">
            <select class="select2 form-select" id="select2Success" name="member_project" multiple>
              {% for user in users %}
                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="row g-3 mb-4">
        <div class="col-12">
          <label class="form-label" for="description">توضیحات:</label>
          <textarea
            name="description"
            class="form-control"
            id="description"
            rows="4"
            style="font-family: 'IRANSans', sans-serif;"
          ></textarea>
        </div>
      </div>

      <!-- ردیف سوم: دکمه‌ها کنار هم -->
      <div class="row g-3">
        <div class="col-12 d-flex justify-content-start gap-2">
          <button class="btn btn-primary" type="submit">ایجاد پروژه</button>
          <button class="btn btn-outline-danger" type="reset">لغو</button>
        </div>
      </div>
    </form>
  </div>
  <div class="card">
    <h5 class="card-header">لیست پروژه ها</h5>
    <div class="card-datatable table-responsive pt-0">
      <table class="datatables-direct-basic table">
        <thead>
        <tr>
          <th>کد</th>
          <th>عنوان</th>
          <th>درصد تکمیل</th>
          <th>وضعیت</th>
          <th>ایجاد کننده</th>
          <th>تاریخ ایجاد</th>
          <th>عملیات</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td> {{ project.code }}</td>
            <td> {{ project.title }}</td>
            <td> {{ project.progress }}</td>
            <td>
              {% if  project.status == "not_started" %}
                <span class="badge  bg-label-danger">شروع نشده</span>
              {% elif project.status == "in_progress" %}
                <span class="badge  bg-label-warning">در حال انجام</span>
              {% elif project.status == "completed" %}
                <span class="badge  bg-label-success">تکمیل شده</span>
              {% endif %}
            </td>
            <td>{{ project.created_by.first_name }} {{ project.created_by.last_name }}</td>
            <td>{{ project.created_at|jformat:"%H:%M | %Y/%m/%d" }}</td>
            <td>
              <div class="d-inline-block">
                <a href="javascript:;" class="btn btn-sm btn-icon item-delete"
                   data-server-name="{{ project.tite }}"
                   data-server-id="{{ project.id }}"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteServerModal">
                  <i class="text-danger ti ti-trash-filled"></i>
                </a>
              </div>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <div id="alert_mo" class="alert alert-dark alert-dismissible {{ class_notification }}" role="alert">{{ message }}
    <button aria-label="بستن" class="btn-close" data-bs-dismiss="alert" type="button"></button>
  </div>

  <div class="modal fade" id="deleteServerModal" tabindex="-1">
    <div class="modal-dialog">
      <form method="post" class="modal-content">
        {% csrf_token %}

        <input type="hidden" name="delete_project_id" id="deleteProjectId">

        <div class="modal-header">
          <h5 class="modal-title" id="deleteServerModalTitle">حذف پروژه</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
        </div>

        <div class="modal-body">
          <p>آیا از حذف <strong id="serverNameInModal">این پروژه</strong> مطمئن هستید؟</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">صرف نظر</button>
          <button type="submit" class="btn btn-danger">بله، حذف کن</button>

        </div>
      </form>
    </div>
  </div>


{% endblock %}
